.loading {
  height: calc(100dvh - 85px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 368px) {
    height: calc(100dvh - 90px);
  }

  @media (min-width: 768px) {
    height: calc(100vh - 100px);
  }

  @media (min-width: 1024px) {
    height: calc(100vh - 105px);
  }
}

.loadingContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}