.devider {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

   @media (min-width: 368px) {
    margin: 20px 0;
  }

  @media (min-width: 768px) {
    margin: 25px 0;
  }

  @media (min-width: 1024px) {
    margin: 35px 0;
  }
}

.deviderElement {
  width: 100%;
  height: 1px;
  background: black;
}

.deviderContent {
  margin: 0 15px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(56, 66, 56);

  @media (min-width: 368px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
  }
}
