.menuContainer {
  width: 30px;
  height: 27px;
  position: relative;
  cursor: pointer;

  div {
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 2px;
    margin-bottom: 9px;
    transition: transform .3s ease, opacity .3s ease;
    transform-origin: center;
  }

  div:nth-child(1) {
    
    transform: translateY(0);
  }

  div:nth-child(2) {
    transform: translateY(0);
  }

  div:nth-child(3) {
    margin-bottom: 0;
    transform: translateY(0);
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.menuContainer.active {
  div:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  div:nth-child(2) {
    opacity: 0;
  }

  div:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}
