.navContainer {
  display: none;

  @media (min-width: 768px) {
    display: flex;

    nav {
      display: flex;
      gap: 15px;

      a {
        text-align: center;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        padding: 8px 10px;
        border-radius: 20px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        background: #7FA110;
        border: 2px solid white;
        border-radius: 20px;
      }

      a:hover {
        background: rgb(230, 211, 159);
        color: rgb(77, 73, 73);
      }
    }
  }
}