.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;

  @media (min-width: 368px) {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1024px) {
    padding: 0 80px;
  }
}