.headerBox {
  background: #a7cc15;
}

.header {
  position: relative;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 65px;
    height: auto;
    border-radius: 100%;
  }

  @media (min-width: 368px) {
    img {
      width: 70px;
    }
  }

  @media (min-width: 768px) {
    img {
      width: 80px;
    }
  }

  @media (min-width: 1024px) {
    img {
      width: 85px;
    }
  }
}