.footer {
  margin-top: 20px;
  background-color: #7FA110;

  img {
    border-radius: 100%;
  }
}

.brandInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.techInfo {
  font-size: 0.875rem;
  color: #FFFFFF;
  padding-bottom: 20px;
  text-align: center;

  span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}