.bannerContainer {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;

  @media(min-width: 768px) {
    margin-top: 15px;
  }
}

.bannerCard {
  position: relative;
  width: 100%;
  height: auto;
}

.imgEl {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;

  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: opacity 1.8s ease, transform 1.8s ease;

  &.enable {
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.desk {
  @media (max-width: 768px) {
    display: none;
  }
}

.indicators {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 10px;
  justify-content: center;
  align-items: center;

  div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;

    &.desativited {
      background-color: gray;
      opacity: 0.5;
    }

    &.active {
      background-color: rgb(36, 34, 34);
      opacity: 1;
    }
  } 
}
