.imgBox {
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  @media(min-width: 768px) {
    margin-top: 15px;
  }
}

.mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.desk {
  @media (max-width: 768px) {
    display: none;
  }
}

.indicators {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 10px;
  justify-content: center;
  align-items: center;

  div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.desativited {
  background-color: gray;
  opacity: 0.5;
}

.active {
  background-color: rgb(36, 34, 34);
  opacity: 1;
}
